backoff==1.6.0
google-cloud-error-reporting==0.30.0
google-cloud-language==1.0.2
google-cloud-logging==1.6.0
holidays==0.9.5
lxml==4.2.4
oauth2==1.9.0.post1
pytest==3.7.1
pytz==2018.5
requests==2.20.0
simplejson==3.16.0
tqdm==4.24.0
tweepy==3.6.0
