backoff==1.8.0
google-cloud-error-reporting==0.30.1
google-cloud-language==1.1.1
google-cloud-logging==1.10.0
holidays==0.9.9
lxml==4.3.1
oauth2==1.9.0.post1
pytest==4.0.1
pytz==2018.9
requests==2.21.0
tqdm==4.31.0
tweepy==3.7.0
